<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.ur.mapper.CoursesMapper">
    <!-- 课程查询-->
    <select id="selectCoursesList" resultType="com.ruoyi.ur.domain.entity.Course">
        SELECT
            *
        FROM ur_course
    </select>

    <!-- 单课程查询 -->
    <select id="selectCourseById" parameterType="Long" resultType="com.ruoyi.ur.domain.entity.Course">
        SELECT * FROM ur_course WHERE course_id = #{courseId}
    </select>
</mapper>